body {
  margin: 0px;
  padding: 0px;
  background: rgb(30, 30, 40);
}
.container ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: radial-gradient(white, #fd5b78);
  font-family: "Nova Round";
}

.container li {
  float: left;
}

.container li a {
  display: block;
  color: black;
  font-size: 20px;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.container li a:hover {
  color: white;
  transition: 0.5s;
}
.container .title {
  padding-right: 600px;
}
.container img {
  float: left;
  height: 50px;
}
.name {
  margin-right: 100px;
}
.main-container {
  padding: 30px;
}

/* HEADING */

.heading {
  text-align: center;
}

.hTitle {
  font-weight: 600;
  font-family: "Nova Round";
  color: white;
}

/* CARDS */

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card {
  margin: 20px;
  padding: 20px;
  width: 500px;
  min-height: 200px;
  border-radius: 10px;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
  transition: all 0.2s;
  font-family: "Nova Round";
  color: white;
}

.card:hover {
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.4);
  transform: scale(1.01);
}

.card__link,
.card__exit,
.card__icon {
  position: relative;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.9);
}

.card__link::after {
  position: absolute;
  top: 25px;
  left: 0;
  content: "";
  width: 0%;
  height: 3px;
  background-color: rgba(255, 255, 255, 0.6);
  transition: all 0.5s;
}

.card__link:hover::after {
  width: 100%;
}

.card_title {
  grid-row: 3/4;
  font-weight: 400;
  color: #ffffff;
}

/* CARD BACKGROUNDS */

.card-1 {
  background: radial-gradient(#189ca8, #3fbafe);
}

.card-2 {
  background: radial-gradient(#d86177, #fa99b2);
}

.card-3 {
  background: radial-gradient(#76b2fe, #b69efe);
}

.card-4 {
  background: radial-gradient(#3bb389, #58d5c9);
}

@media (max-width: 1600px) {
  .cards {
    justify-content: center;
  }
}
img {
  height: 200px;
  border-radius: 10px;
}
footer {
  position: relative;
  left: 0;
  bottom: 0px;
  width: 100%;
  text-align: center;
  min-height: 30px;
  text-decoration: none;
  color: white;
  font-family: "Nova Round";
}
footer img {
  height: 50px;
  position: relative;
  top: 15px;
}

footer .copyright {
  display: flex;
  justify-content: center;
  font-size: 10px;
  margin-top: 10px;
}

footer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  color: teal;
}

footer ul li {
  display: inline-block;
  margin-left: 5px;
  margin-right: 5px;
  text-decoration: none;
}

a:hover {
  opacity: 50;
  color: white;
  transition: 0.5s;
}

a {
  color: #fd5b78;
}
